@charset "UTF-8";


/*********************** Resets **********/
* {
	box-sizing: border-box;
}
h1, h2, p, ul, ol, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul, nav ol { 
	list-style-type: none; 
}
a { 
	text-decoration:none;
}
img {
    max-width: 100%;
 
}


/********************* Header Styles ******/

body {
	background-image:url("Images/LightBackground2000.png");
}

header{ 
	margin: auto;
	padding-left: 30px;
}

header h2 {
	text-align: right;
	font-size: 1.7em;
	padding-right: 20px;
}

header h1 {
	font-family: 'Playfair Display', serif;
	font-size: 4.5em;
}

header h3 {
	font-size: 1.7em;
}

header img {
	position: right;
}

#imgHeader img {
	display: block;
	margin-left:auto;
	margin-right: auto;
}


/******************** Navigation Styles *******/

#navigation {
	position: relative;
}

#mobilenav {
	background: #0F75BC;
	padding-right: 20px;
}

#mobilenav h2 {
	text-align: right;
	line-height: 50px;
	color: #454444;
	font-size: 36px;
}

#mainnav {
	width: 150px;
	position: absolute; 
	top: 50px;
	right: 0;
	border-top: 1px solid #454444;
}

#mainnav ul {
	background: #0F75BC;
}

#mainnav ul li a {
	display:block;
	background:#0f75bc;
	color:#ebebeb;
	font-weight:400px;
	font-size:20px;
	line-height:50px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:right;
	padding-right: 20px;
	width:150px;
	border-bottom: 1px solid #014b73;
}

#mainnav ul li a:hover {
	background:#379CE3;
}

/*********************** Home section styles *******/

#homeinfo { 
	padding: 5px;
	padding-bottom: 35px;
	max-width:1100px;
	margin:auto;
	}

#homeinfo article { padding: 15px; }

#homeinfo img {
	padding: 20px;
}

#homeinfo article:first-of-type { 
	font-size:1em;
	padding-bottom: 15px;
 }

#homeinfo article:last-of-type {
	font-size: 1em; 
	padding-top: 20px;
	padding-left: 30px;
}

#homeinfo article ul li{
	list-style-type:disc;
}

.cc {
	padding-bottom: 10px;
}
/*********************** Services styles*******/

#servicesParent {
	background-color: #44A1E2;
	padding: 20px;
}
#servicesParent h1{
	padding:10px;
	font-size: 2em;
}

#servicesParent p {
	padding-bottom: 15px;
}

#servicesParent .servicesIconsParent {
	background-color: gainsboro;
	display:block;
	padding: 20px;
}

.servicesIcons {
	text-align: left;
}

.servicesIcons img {
	padding-top: 15px;
}

/************************FAQ styles******/

main {
	background: #44A1E2;
	padding: 20px;}

#faqParent dl dd {
	padding-top: 3px;
	padding-bottom: 10px;
} 

/*********************Reviews Styles *******/

#personalReview {
	display: block;
	
}

#personalReview article {
	padding:25px;
}

h2 {
	padding: 30px 0px 20px 0;
}

#socialLinks img {
	margin-right: 30px;
}

.map p {
	font-size: 1.5em;
	padding-top: 10px;

/******************** Photos Styles ******/
	
}
.images img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	border: #0F75BC solid 5px;
}

.images h3 {
	text-align: center;
}

.PhotosIntro p {
	padding: 20px 0px;
}
/**********SlideShow**************/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
	
}
.SlideImg {
	display:block;
	margin-left: auto;
	margin-right:auto;
	padding: 15px 0 0 0;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #208CC6;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #208CC6;
  font-size: 20px;
  padding: 15px;
  width: 70%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #208CC6;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/******************* Footer Styles *******/


a:link, a:visited {
    color: skyblue;
	text-decoration: none;
}
a:hover, a:active {
    color: darkseagreen;
    text-decoration: none;
}

footer a {
	color: white;
	font-size: 1.2em;
	
}

#footer {
	background: #0f75bc;
	color: aliceblue;
	margin-top: 50px;
}

.footerinfo {
	padding: 25px 25px;
	
}

.footerinfo img {
	padding-right: 10px;
}

.footerinfo a {
	font: small-caps;
}

.footerinfo p:first-of-type {
	padding-bottom: 15px;
}

.footerinfo p:last-of-type {
	font-size: 1.2em;
}

.footername {
	display: none;
}

.footericon {
	display:flex;
	align-items:center;
}


/************************* Responsive *******/

@media only screen and (min-width: 600px){ 


	h1 {
		font-size: 2.5rem;
	}
	
	#header img { 
		display: right;}
	
	
	#mobilenav {
		display: none;
	}
	
	#mainnav {
		box-sizing: border-box;
		position: static;
		width: 100%;
		margin-bottom: 20px;
		border-top: none;
		border-left: 1px solid #44A1E2;
	}
	
	#mainnav ul {
		display: flex;
	}
	
	#mainnav ul li {
		flex:1;
	}
	
	#mainnav ul li a {
		width: 100%;
		box-sizing: border-box;
		padding: 0;
		text-align: center;
		border-bottom: none;
		border-right: 1px solid #44A1E2;
	}
	
	#homeinfo img {
	float:left;
	display:block;	
}	
	
	#personalReview {
	display: flex;
	justify-content: space-between;
}
	
	.map {
		width:"500";
	
}
	.images {
		display: flex;

	}
	
	.column {
		width:15%;
	}
	
	footer {
	padding: 10px 20px 25px;
	background: #0f75bc;
	color: aliceblue;
}
	
	#footer {
	margin:auto;
	max-width:1100px;
	display:flex;	
	justify-content: space-between;
	}
	
	.footername {
	display: block;
	}
	
	.footername h2 {
	margin: auto 0;	
	font-size: 2em;
	font-family: 'Playfair Display', serif;	
}

	
}

@media only screen and (min-width: 960px){ 

	body {
		background-repeat:no-repeat;
		background-size: cover;
	}
	
	#homeinfo article:first-of-type { 
		font-size:1.5em;
	 }

	#homeinfo article:last-of-type {
		font-size: 1.5em;
	}
	
	.textContainer {
		max-width: 1300px;
		margin: 0 auto;
	}
	
	dl dt {
		text-size:2em;
	}
	
	dl dd {
		text-size:2em;
	}
	

}

.SlideImg {
}
