@charset "UTF-8";


/********** Resets **********/
* {
	box-sizing: border-box;
}
h1, h2, p, ul, ol, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul, nav ol { 
	list-style-type: none; 
}
a { 
	text-decoration:none;
}
img {
    max-width: 100%;
 
}
/**** Header Styles ******/

body {
	background-image:url("Images/groundTiles1000.png")
}

header h1 {
	font-family: 'Alex Brush','Arizonia','Allura', cursive;
	font-size: 65px;

}

/***** Navigation Styles *******/

#navigation {
	position: relative;
}

#mobilenav {
	background: #0F75BC;
	margin-bottom: 20px;
	padding-right: 20px;
}

#mobilenav h2 {
	text-align: right;
	line-height: 50px;
	color: #454444;
	font-size: 36px;
}

#mainnav {
	width: 150px;
	position: absolute; 
	top: 50px;
	right: 0;
	border-top: 1px solid #454444;
}

#mainnav ul {
	background: #0F75BC;
}

#mainnav ul li a {
	display:block;
	background:#0f75bc;
	color:#ebebeb;
	font-weight:400px;
	font-size:20px;
	line-height:50px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:right;
	padding-right: 20px;
	width:150px;
	border-bottom: 1px solid #014b73;
}

#mainnav ul li a:hover {
	background:#379CE3;
}

/******* Home section styles *******/

#homeinfo { padding: 0;
	background:#44A1E2
	}

#homeinfo article { padding: 15px; }

#homeinfo img {
	padding: 20px;
}

#homeinfo article:first-of-type { 
	font-size:1.1em;
	color: aliceblue;
	padding-bottom: 25px;
 }

#homeinfo article:last-of-type {
	font-size: 1.2em;
	color:aliceblue; 
	padding-top: 20px;
	padding-left: 30px;
}

#homeinfo article ul li{
	list-style-type:disc;
}
/****** Services styles*******/

#servicesParent {
	background-color: #0F75BC;
	padding: 20px;
}

#servicesParent .servicesIconsParent {
	background-color: gainsboro;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	padding: 20px;
	margin-bottom: 15px;
}


/******FAQ styles******/

.faqParent dl dt {
	font-weight: 200;
}

/******Reviews Styles *******/

/***** Photos Styles ******/

/***** Footer Styles *******/

#footer {
	display:flex;
	justify-content: space-between;
	padding: 35px;
	background: #0f75bc;
	color: aliceblue;
}

.name h2 {
	font-family: 'Alex Brush','Arizonia','Allura', cursive;
}




/***** Responsive *******/

@media only screen and (min-width: 600px){ 


	h1 {
		font-size: 2.5rem;
	}
	
	#header img { 
		display: right;}
	
	#mobilenav {
		display:none;
	}
	
	#mainnav {
		box-sizing: border-box;
		position: static;
		width: 100%;
		margin-bottom: 20px;
		border-top: none;
		border-left: 1px solid #44A1E2;
	}
	
	#mainnav ul {
		display: flex;
	}
	
	#mainnav ul li {
		flex:1;
	}
	
	#mainnav ul li a {
		width: 100%;
		box-sizing: border-box;
		padding: 0;
		text-align: center;
		border-bottom: none;
		border-right: 1px solid #44A1E2;
	}
}

@media only screen and (min-width: 960px){ 

	body {
		background-repeat:no-repeat;
		background-size: cover;
	}

}
